/* General selectors */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    text-align: center;
    font-size: 24px;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Left side -img+icon */
.left-container {
    width: 40%;
    height: 100%;
    background-image: url(images/beach.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.icon-name {
    font-family: "Abril Fatface", serif;
    margin-top: 75px;
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ace2e1af;
    color: #000;
}

.palm-tree {
   margin-right: 10px;
   height: 70px;
}

h1 {
    color: rgba(0, 128, 0, 0.74);
    letter-spacing: 5px;
}

.img-credit {
    margin-bottom: 10px;
    padding: 5px;
    background-color: #ace2e1af;
    color: #000000b6;
    width: 100%;
    height: 40px;
    font-size: 1.2rem;
}

span {
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
}

/* Right side - form */
.right-container {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.right-top, .right-center, .right-bottom {
    width: 100%;
    padding-left: 3rem;
}

.right-top {
    height: 30%;
    background-color: #eeedeb7a;
    display: flex;
    align-items: flex-end;
    padding-bottom: 4rem;
}

.right-center {
    height: 40%;
    overflow-y: scroll;
    padding-bottom: 1rem;
}

h3 {
    margin: 1.25rem 0;
}

form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    row-gap: 1rem;
}

.box {
    display: flex;
    flex-direction: column;
    width: 350px;
}

label {
    font-size: 1.25rem;
    text-transform: uppercase;
}

input {
    width: 300px;
    height: 2rem;
    border-radius: 5px;
    padding-left: 5px;
    border: 2px solid #B5C0D0;
}

.right-bottom {
    height: 30%;
    background-color: #eeedeb7a;
    padding-top: 2rem;
}

button {
    color: #fff;
    background-color: #72ccca;
    border: none;
    border-radius: 5px;
    font-size: 1.25rem;
    font-weight: bold;
    word-spacing: 5px;
    width: 200px;
    height: 40px;
    margin-bottom: 1.5rem;
    cursor: pointer;
    transition: all ease-in .5s;
}

button:hover {
    background-color: #184e4d;
}

.right-bottom p {
    font-size: 1.25rem;
}