/* General selectors */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    text-align: center;
    font-size: 24px;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Left side -img+icon */
.left-container {
    width: 40%;
    height: 100%;
    background-image: url(images/beach.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.icon-name {
    font-family: "Abril Fatface", serif;
    margin-top: 75px;
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ace2e1af;
    color: #000;
}

.palm-tree {
   margin-right: 10px;
   height: 70px;
}

h1 {
    color: rgba(0, 128, 0, 0.74);
    letter-spacing: 5px;
}

a {
    text-decoration: none;
    color: inherit
}

.sign-up {
    display: none;
}

.img-credit {
    margin-bottom: 10px;
    padding: 5px;
    background-color: #ace2e1af;
    color: #000000b6;
    width: 100%;
    height: 40px;
    font-size: 1.2rem;
}

span {
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
    font-size: 1rem;
}

/* Right side - form */
.right-container {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.right-top, .right-center, .right-bottom {
    width: 100%;
    padding-left: 3rem;
}

.right-top {
    height: 30%;
    background-color: #eeedeb7a;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding-bottom: 1rem;
}
h5 {
    margin-top: 2.5rem;
}
/*Form selectors*/
.right-center {
    height: 45%;
    overflow-y: scroll;
    padding-bottom: 1rem;
    background-color: #ace2e1af;
}

h3 {
    margin: 1.25rem 0 2rem;
}

form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    row-gap: 1rem;
}

.box {
    display: flex;
    flex-direction: column;
    width: 350px;
}

label {
    font-size: 1.25rem;
    text-transform: uppercase;
}

label span {
    text-decoration: none;
    font-weight: normal;
    cursor: default;
}

input:valid {
    border: 2px solid rgb(102, 233, 102);
    background: url(images/circle-check-regular.svg) no-repeat;
    background-position: right 3px top 3px;
    background-size: 1.25rem;
    padding-right: 10px;
    transition: all ease-in .25S;
}

input:user-invalid {
    border: 2px solid rgb(230, 90, 101);
    background: url(images/circle-xmark-regular.svg) no-repeat;
    background-position: right 3px top 3px;
    background-size: 1.25rem;
    transition: all ease-in .25S;
}

#invalid-conf-pw {
    border: 2px solid rgb(230, 90, 101);
    background: url(images/circle-xmark-regular.svg) no-repeat;
    background-position: right 3px top 3px;
    background-size: 1.25rem;
    transition: all ease-in .25S;
}

input:focus + .error-msg, 
input:user-invalid + .error-msg {
    display: block;
}

input:valid + .error-msg {
    display: none;
}

input:focus ~ li {
    display: inline-block;
}

input {
    width: 300px;
    height: 2rem;
    border-radius: 5px;
    padding-left: 5px;
    border: 2px solid #B5C0D0;
}

.error-msg {
    font-size: 1.25rem;
    color: rgb(230, 90, 101);
}

li {
    font-size: 1.25rem;
    color: rgb(230, 90, 101);
}

.hidden {
    display: none;
}

.right-bottom {
    height: 25%;
    background-color: #eeedeb7a;
    padding-top: 2rem;
}

button {
    color: #fff;
    background-color: #72ccca;
    border: none;
    border-radius: 5px;
    font-size: 1.25rem;
    font-weight: bold;
    word-spacing: 5px;
    width: 200px;
    height: 40px;
    margin-bottom: 1.5rem;
    cursor: pointer;
    transition: all ease-in .5s;
}

button:hover {
    background-color: #184e4d;
}

.right-bottom p {
    font-size: 1.25rem;
}

/*Media queries*/
@media (max-width: 1200px) {
  body {
    font-size: 20px;
  }
  .right-container {
    width: 50%;
    min-height: 100vh;
    height: auto;
  }
  .right-top {
    height: 25vh;
    padding-bottom: .25rem;
    justify-content: space-evenly;
  }
  h5 {
    margin-top: 0;
    }
  .right-center {
    height: 60vh;
  }
  .right-bottom {
    height: 15vh;
  }
  .left-container {
    width: 50%;
  }
}

@media (max-width: 900px) {
     body {
    width: 100%;
    height: auto;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    overflow: auto;
  }
  .sign-up {
    display: inline-block;
  }
  .left-container {
    width: 100%;
    height: 100vh;
  }
  .right-container {
    width: 100%;
    height: clamp;
    min-height: 100vh;
  }
  label {
    font-size: 1rem;
  }
  .box {
    width: 330px;
  }
}
@media (max-width: 400px) {
    body {
        font-size: 16px;
    }
    input {
        width: 100%;
    }
    .right-top, .right-center, .right-bottom {
    padding: 1rem;
    }
    form {
    margin: 0 auto;
    grid-template-columns: 95%;
    }
    .box {
    width: 100%;
    }
    .img-credit {
    margin-bottom: 5px;
    padding: 5px;
    height: auto;
    font-size: 1rem;
    }
    button {
    font-size: 1rem;
    word-spacing: normal;
    width: 200px;
    height: 40px;
    margin-bottom: 1rem;
    }
    .right-bottom p {
    font-size: 1rem;
    }
}